/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
  background-color: $background-color;
  color: $text-color;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}